html, body {
    height: 100%;
    width: 100%;
    background-color: #00aef2;
    font-size: 1.1em;
}

.jumbotron-flc {
    background-color: transparent;
}

#gallery {
    background-color: transparent;
}

#back-to-top {
    background-color: transparent;
}

.general-button {
    background-color: #ad0f37;
}

.general-button:hover {
    background-color: #9d0e44;
}

.section {
    opacity: 0;
}

hr {
    /*max-width: 100% !important;*/
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #fff; /* old IE */
    background-color: #fff; /* Modern Browsers */
}

.color-accent {
    color: #fff;
}

h1 {
    height:auto;
}
.previous-years-gallery {
    max-width: 100%;
}
.gallery-container {
    max-width: 90%;

}

.img-fluid{
    /*max-width: 90vh;*/
    max-height: 70vh;
}

.navigation {
    max-width: 100%;
}

#back-to-top {
    border: 1px solid white;
}
#back-to-top:hover, #back-to-top:hover p {
    border-color: #ad598b;
    background-color: transparent;
    color: #ad598b;
}

#register-button {
    font-weight: normal;
    background-color: #292B2C;
}
#register-button:hover {
    background-color: #01799a;
    color: white;
}

#end-register-button {
    background-color: #ad598b;
    color: #fff;
}

#end-register-button:hover {
    background-color: #934c76;
}

li {
    list-style: none;
}
