html, body {
    height: 100%;
    width: 100%;
    background-color: #E9EBEE ;
    font-size: 1.1em;
    text-align: center;
    font-family: Avenir !important;
}

.jumbotron-flc {
    background-color: transparent;
}

#gallery {
    background-color: transparent;
}



.general-button {
    background-color: #ad0f37;
}

.general-button:hover {
    background-color: #9d0e44;
}

.section {
    opacity: 0;
}

hr {
    /*max-width: 100% !important;*/
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #fff; /* old IE */
    background-color: #fff; /* Modern Browsers */
}

.color-accent {
    color: #fff;
}

h1 {
    height:auto;
}
.previous-years-gallery {
    max-width: 100%;
}
.gallery-container {
    max-width: 90%;

}

.img-fluid{
    /*max-width: 90vh;*/
    max-height: 70vh;
}

.navigation {
    max-width: 100%;
}

#back-to-top {
    border: 1px solid white;
}
#back-to-top:hover, #back-to-top:hover p {
    border-color: #ffad72;
    background-color: transparent;
    color: #ffad72;
}

#register-button {
    font-weight: normal;
    background-color: #292B2C;
}
#register-button:hover {
    background-color: #01799a;
    color: white;
}

#end-register-button {
    background-color: #00acd3;;
    color: #fff;
}

#end-register-button:hover {
    background-color: #01799a;
}

li {
    list-style: none;
}

.uoft {
    max-height: 300px;
    width: auto;
}

#contact {
    text-align: left;
}

.text-or {
    color: #ffad72;
}

.logo {
    height: 32px;
}

.text-blue {
    color: #00acd3;
}

.section-header {
    color: #00acd3;
}
 #contact .section-header {
     text-decoration: none;
 }
#banner {
    width: 100%;
    margin-top:68px
}

.jumbotron {
    color:#00acd3;
}
