@font-face {
    font-family: Avenir;
    src: url(../fonts/avenir/Avenir-Medium.woff);
    font-weight: normal;
}

@font-face {
    font-family: Avenir;
    src: url(../fonts/avenir/Avenir-Heavy.woff);
    font-weight: bold;
}


@-webkit-keyframes bluePulse {
    from { background-color: #19f6e8;}
    50% { background-color: #01799a;}
    to { background-color: #19f6e8;}
}

/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


button:active {outline:0 !important;}
html, body {
    background-color: #1a1a1a;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.text-blue {
    color: #01799A;
}

.text-bright-blue {
    color: #19f6e8;
}

.wrap-text {
    word-wrap: break-word;
}

#back-to-top {
    background: none;

    margin: 0;

    position: fixed;

    bottom: 20px;

    right: 20px;

    width: 70px;

    height: 70px;

    z-index: 100;

    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;

    border-radius: 50%;
    text-decoration: none;
    background-color: #358dbd;
}

#back-to-top:hover {
    background-color: #00acd3;
}

#back-to-top p {
    text-decoration: none;
    margin: 0 auto;
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
}

#back-to-top p:hover {
    text-decoration: none;
}
/********************************************
HOMEPAGE
**********************************************/
h1, h2, h3, h4, h5, p {
    font-weight: 200;
}

h1 {
    display: block;
    font-weight: 200;
    height: 20px;
}
.center-items {
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: center;
    -webkit-justify-content: center; /* Safari 6.1+ */
    align-items: center;

}


.identifier-button {
    background: #15bfb3;
    border: none;
    color: #ffffff;
    font-size: 2em;
    padding: 20px 30px 20px 30px;
    text-decoration: none;
    font-weight: 200;
}

.identifier-button:hover {
    background: #01799a;
    text-decoration: none;
    color: #fff;
}
.homepage-title {
    text-align: center;
    color: white;
}

.svg-wrapper {
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    width: 320px;
}

.shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #19f6e8;
}

.text {
    text-align: center;
    color: #fff;
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -44px;
}

@keyframes draw {
    0% {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
    }
    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 3px;
    }
}

.svg-wrapper .shape {
    -webkit-animation: 1s draw linear forwards;
    animation: 1s draw linear forwards;
}


/********************************************
DELEGATES & SPONSORS
**********************************************/

.navigation {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #14b7ab;
}

.nav-link:visited {
    color: white;
}

.navbar-nav {
    align-items: center;
}

.emphasized-nav-item {
    font-size: 1.35em;
    border-radius: 25px;
    border: 2px solid white;
    color: white;
    transition: background-color 0.5s ease;
    font-weight: 400!important;
}


.emphasized-nav-item:hover {
    background-color: #14b7ab;
    color: white;
}


/*Jumbotron*/

.sponsor-jumbotron {
    background: url("../img/background-sponsor.jpg");
}

.delegate-jumbotron {
    background: url("../img/background-delegate.jpg");
}

.jumbotron-main {
    height: 100%;

    background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */

    margin: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(18, 139, 127, 0.75);
    height: 100%;
    width: 100%;
}

.container {
    /*display: flex;*/
    align-items: center;
}

.jumbotron-items {
    max-width: 100%;
    margin: 0 auto;
}
.jumbotron-title {
    margin: 0 auto;
    overflow:hidden;
    display: table;
    font-size: 3em;
    font-weight: 400;
    text-align: center;
}

.tagline {
    text-align: center;
}

.expand {
    align-self: flex-start;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.section-header {
    margin: 2.5em 0 1.5em 0;
}

.section-alt {
    display: none;
}

/*About*/
.about-list {
    width: 100%;
    list-style: none;
}

.about-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-border {
    border-right: solid 2px #14b7ab;
}

.left-border {
    border-left: solid 2px #14b7ab;
}

.involved-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.involved-list-item {
    padding-left: 1em;
    text-indent: -.7em;
    color: white;
}

.involved-list-item::before {
    content: "• ";
    color: #01799A; /* or whatever color you prefer */
}

/*Sponsors*/
#sponsors {
    background-color: #777777;
}


.sponsors-gallery {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

.sponsor {
    flex: none;
    box-sizing: content-box;
    /*background-color: rgba(10, 88, 155, 0.3);*/
    margin: 15px;
    width: 150px;
    height: 150px;
    border: solid 20px rgba(0, 0 , 0,  0);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#who-are-we-content {
    display: none;
}


.speaker {
    height: 277px;
    width: 341px;
}

/*Contact*/

.contact-card {
    width: 100%;
    position: relative;
    top:0;
    background: white;
    padding: 30px;
    transition: all 500ms ease 0s;
    -webkit-transition: all 500ms ease 0s ;
}

.contact-card:hover {
    position: relative;
    top: -20px;
}

#contact {
    background-color: #1A1A1A;
}

.general-button {
    transition: background-color 0.5s ease;
    display: table;
    margin: 10px auto;
    color: white;
    background-color: #14b7ab;
    padding:10px;
    border: none;
}

.submit-button {
    transition: background-color 0.5s ease;
    color: white;
    background-color: #01799a;
    padding:10px;
    border: none;
}


.general-button:hover, .submit-button:hover {
    background-color: #00acd3;
}


#sponsors-integration {
    background-color: #777777;
}

#gallery {
    background-color: #dadada;
}

.card-img-top {
    height: 128px;
    width: 128px;
}



.inverse {
    background-color: transparent;
}
#contact li {
    list-style: none;
}
.left-contact {
    width: 50%;
    height: inherit;
    margin: auto 0;
    border-right: solid 1px white;
    float: left;
}

.right-contact{
    margin: auto 0;
    width: 50%;
    float: right;
}

.logo {
    height: 40px;
}


.cbm {
    -webkit-animation-name: bluePulse;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
}

.cbm-banner {
    width: 815px;
    max-width: 100%;
}

.cbm-jumbotron {
    background: transparent;
}

.cbm-content {
    margin: 0px 70px;
}

.cbm-gallery {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
}

.cmb-card {
    display: inline-block;
    width: 320px;
    border: 3px solid white;
}

.cmb-image {
    display: block;
    width: 128px;
    margin: 0 auto;
}

.past-cbm-text {
    width:  55vw;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .past-cbm-text {
        width: 100%;
    }
}

.cbm-small-icon {
    width: 50px;
    margin-right: 1rem;
}
